<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline">
    <h1>Index TUPD</h1>
    <% if SyncEngine::logged_in > 0 %>
    <a href="<%= url_for :controller => :Settings, :action => :do_sync %>" class="ui-btn-left" data-icon="refresh">
      Sync
    </a>
    <a href="<%= url_for :controller => :Settings, :action => :logout %>" class="ui-btn-right" data-icon="star">
	    Logout
	  </a>
    <% else %>
        <a href="<%= url_for :controller => :Settings, :action => :login %>" class="ui-btn-right" data-icon="star">Login</a>
    <% end %>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="<%= url_for :controller => :Bundle, :action => :index %>">Bundle test ...</a></li>
      <li><a href="<%= url_for :controller => :Foo, :action => :index %>">Foo Model ...</a></li>
      <li><a href="<%= url_for :controller => :FooNew, :action => :index %>">Foo New Model  ...</a></li>
      <li><a href="<%= url_for :controller => :PageWithImage, :action => :index %>">Page with Image  ...</a></li>
      <li><a href="<%= url_for :controller => :RemovedPage, :action => :index %>">Removed Page  ...</a></li>
      <li><a href="<%= url_for :controller => :NewPage, :action => :index %>">Added Page  ...</a></li>
    </ul>
  </div>

</div>
