<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @foonew.barnew1 %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @foonew.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Barnew1</div>
            <div class="itemValue"><%= @foonew.barnew1 %></div>
          </li>
      
          <li>
            <div class="itemLabel">Barnew2</div>
            <div class="itemValue"><%= @foonew.barnew2 %></div>
          </li>
      
          <li>
            <div class="itemLabel">Barnew3</div>
            <div class="itemValue"><%= @foonew.barnew3 %></div>
          </li>
      
    </ul>
  </div>

</div>
